/* Definición de variables de color y fuente */
:root {
    --color-pantone: #368f3f; /* Pantone 7740c */
    --color-principal: #92c99b; /* Pantone 7740c 50% */
    --color-fuente: #2e2925; /* Pantone Black C */
    --color-fondo: #ebf5ed; /* Pantone 7740c 10% */
    --color-hover: #d9ebd8; /* Pantone 7740c 80% */
    --color-borde: #4fa66a; /* Pantone 7740c 20% */
    font-family: 'Noto Sans', 'Verdana', sans-serif;
}

/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
}

header {
    background-color: var(--color-pantone);
    color: var(--color-fuente);
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Zona de iniciales */
#iniciales {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

#iniciales {
    display: block;
}
#iniciales button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6abf69;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

#iniciales button:hover {
    background-color: #4fa657;
}

/*--botón de volver al inicio --*/
#volver-inicio {
    display: none;
}



.zona-iniciales {
    background-color: var(--color-principal);
    padding: 15px;
    border-radius: 10px;
}

/* Zona de búsqueda */
.zona-busqueda {
    background-color: var(--color-hover);
    padding: 15px;
    border-radius: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
}

/* Zona de botón de vuelta al inicio */
.zona-boton {
    background-color: var(--color-principal);
    padding: 15px;
    border-radius: 10px;
}

.zona-boton img {
    width: 130px;
    height: 130px;
    cursor: pointer;
}

#main-button-container {
    text-align: center;
    margin: 20px 0;
}
#main-button img {
    width:  64px;
    height: 64px;
    cursor: pointer;
}
.icono {
    width:  30px; /* Tamaño deseado */
    height: 30px; /* Mantén las proporciones */
    margin-right: 8px; /* Espaciado entre el ícono y el texto */
    vertical-align: middle; /* Alinea el ícono con el texto */
}

/* Zona de antiinfecciosos */
.zona-antiinfecciosos {
    background-color: var(--color-fondo);
    padding: 15px;
    border-radius: 10px;
}

#lista-antiinfecciosos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#lista-antiinfecciosos {
    display: none; 
}
#lista-antiinfecciosos.active {
    display: block;
}


#lista-antiinfecciosos div {
    background-color: var(--color-hover);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lista-antiinfecciosos div:hover {
    background-color: var(--color-borde);
}


#detalle-antiinfeccioso {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-principal);
    border-radius: 5px;
    display: block; /* Mostrar por defecto */

}

#lista-antiinfecciosos.active,
#detalle-antiinfeccioso.active {
    display: block;
}


/*----footer----*/

footer {
    background-color: var(--color-pantone);
    color: var(--color-fuente);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed;
}
